.tag-container__tag-entry {
    list-style-type: none;
}

.file-view__file-name, .file-view__size-button {
    display: inline-block;
}

.file-view__size-button {
    margin-left: 10px;
}

.file-view__file--minimized > * {
    max-width: 93%;
}
