.uploadForm {
    background-color: #e3e3e3;
    padding: 10px;
}

.uploadFormTextInput {
    height: 18px;
    font-size: 16px;
}

.uploadForm > * {
    margin-top: 5px;

    width: 100%;
    max-width: 200px;
}
