.file-search__results-container {
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
    min-height: 150px;
}

.file-search__result {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    margin-left: 9px;
    border: dotted 1px #606060;
    float: left;
}

.file-search-thumbnail__filename {
    font-size: 0.8em;
}

.file-search-thumbnail__video-thumbnail {
    text-align: center;
}
